body{
   background-image: url("images/aa.png");
   background-repeat: no-repeat;
   background-size: cover;
   ;
}
*{
    box-sizing: border-box;
}

.navbar {
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%;
    background-color: black;  
  }
.link{
    color: goldenrod;
    list-style-type:none; 
    font-size: 1rem; 
    font-weight: bold;
    
}
.link li a{
    text-decoration: none;    
}
.link a:hover{
    color:whitesmoke; 
}
h1{
    font-family: "Lucida Console", Courier, monospace;
    font-size: 1.7rem;
    font-weight: bold;
}
h2, span{
    color: #00cc00;
    font-weight: bold;
}
.auth{
    margin: 0 auto;
}

 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    font-weight: bold;
    color: goldenrod
  }



