body{
   background-image: url("images/aa.png");
   background-repeat: no-repeat;  
}
*{
    box-sizing: border-box;
}
.navbar {
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%;
    background-color: black;  
  }
.link{
    color: goldenrod;
    list-style-type:none; 
    font-size: 1rem; 
    font-weight: bold;
    
}
.link li a{
    text-decoration: none;    
}
.link a:hover{
    color:whitesmoke; 
}
h1{
    font-family: "Lucida Console", Courier, monospace;
    font-size: 1.7rem;
    font-weight: bold;
}
h2, span{
    color: #00cc00;
    font-weight: bold;
}
.home{
    position: absolute;
    margin-left: 320px;
    margin-top: 20px;
    padding: 50px;
    color: goldenrod;
    background: rgba(0, 0, 0, 0.5);
}
.home a{
    padding: 15px 20px;
    display: inline-block;
    color: goldenrod;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;    
}
.home a:hover{
    color: #333;
    background-color:  goldenrod;
}
.auth{
    margin: 0 auto;
}
.article-card{
    width: 325px;
    display: inline-block !important;
    margin: 15px;
}
.card-image{
    max-height:  180px;
}
.card-title{
    font-size: 16px;
    height: 45px;
    text-overflow: ellipsis;
}
.card-sub-title{
    font-size: 12px;
    color: #7b858e;
}

.article-label{
    padding: 5px 10px 5px 10px;
}
.new-post{
    padding-bottom: 20px;
}
 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    font-weight: bold;
    color: goldenrod;
  }



