
body{
   background-image: url("images/aa.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    min-height: 80vh;
    
}

.navbar {
    height: 10vh;
    width: 100%;
    background-color: black; 
    text-transform: uppercase;
  }
.link{
    color: goldenrod;
    list-style-type:none; 
    font-size: 1rem; 
    font-weight: bold;
    
}
.link li a{
    text-decoration: none;    
}
.link a:hover{
    color:whitesmoke; 
}
h1{
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
}
h2, span{
    color: #00cc00;
    font-weight: bold;
}
.home{
    height: 400px;
    position: relative;
    padding: 50px;
    color: goldenrod;
    background: rgba(0, 0, 0, 0.5);
  
}
.home a{
    padding: 15px 20px;
    display: inline-block;
    color: goldenrod;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;    
}
.home a:hover{
    color: #333;
    background-color:  goldenrod;
}
.contact a{
    padding: 4px 2px;
}
.auth{
    margin: 0 auto;
}
.article-card{
    width: 325px;
    display: inline-block !important;
    margin: 15px;
}
.card-image{
    max-height:  180px;
}
.article-label{
    padding: 5px 10px 5px 10px;
}
i{
    font-weight: bold;
}

 footer {
    width: 100%;
    position: sticky;
    height: 10vh;
    background-color: black;
    text-align: center;
    font-weight: bold;
    color: goldenrod;
  }
  footer p{
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
  }


